:root{
    --dark-background-color:#1F2937;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    color: aliceblue;
    font-family: sans-serif;
}
.nav-bar{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-left:200px ;
    padding-right: 200px;
    background-color: var(--dark-background-color);
}
.pages{
    font-size: 18px;
     color: #E5E7EB;
}
.logo{
    font-size: 24px;
    color:#F9FAF8;
}
a{
    text-decoration: none;
    margin: 5px;    
}
.first-body{
    padding-left:200px ;
    padding-right: 200px;
    height: 500px;
    background-color: var(--dark-background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.left{
    width: 550px;
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    gap: 25px;
}
.left h2{
    font-size: 48px;
    font-weight: 1000;
}
.left > button{
    width: 150px;
    height: 50px;
    border-radius: 5%;
    background-color: #3882F6;
    font-size: 18px;
    font-weight: 800;
}
img{
    height: 350px;

}